body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #fff;
}

.container {
  max-width: 550px;
  width: 100%;
  margin: 20px auto;
  padding: 30px;
  border-radius: 15px;
  display: block;
  background-color: #edf2f8;
  box-shadow: 0px 10px 10px #0000008c;
}

header {
  text-align: center;
  padding-bottom: 0px;
  border-bottom: 1px solid rgba(221, 234, 245, 0.5);
}

.search-input {
  padding: 10px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin: 10px;
  width: 70%;
  border: none;
  background-color: #cedaeb8c;
  border-radius: 10px;
}

.search-button {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background-color: #72afe0;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  width: 20%;
  transition: all 180ms ease-in-out;
}

.search-button:hover {
  background-color: #4997d6;
  cursor: pointer;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

h1,
.current-temp-value,
.current-temp-unit {
  font-weight: bold;
  color: #4b4b4b;
}

h1 {
  font-size: 40px;
}

.current-temp-value {
  font-size: 40px;
}

.current-temp-unit {
  font-size: 20px;
  position: relative;
  top: -15px;
}

.current-temp-icon {
  position: relative;
  top: -10px;
  left: 40px;
}

.current-weather-details {
  font-size: 16px;
  color: #0443779f;
  line-height: 1.6;
  position: relative;
  top: 60px;
  right: 35px;
}

.highlights {
  font-weight: bold;
  color: #044377;
}

footer {
  font-size: 13px;
  color: #4b4b4b;
  text-align: center;
  padding-top: 20px;
}

.links {
  color: #3b85c2;
  text-decoration: none;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
}

.weather-forecast-day {
  border-radius: 15px;
  background-color: #cfd5e023;
  padding: 15px;
  margin: 0;
}

.forecast-date {
  color: #4b4b4ba9;
  font-weight: 500;
  text-align: center;
  line-height: 15px;
  padding-top: 5px;
}

.forecast-icon {
  text-align: center;
  max-width: 80px;
  width: 100%;
}

.forecast-temperatures {
  text-align: center;
  color: #044377;
  display: flex;
  justify-content: center;
  margin: 5px 0 10px;
}

.forecast-max-temp {
  font-weight: 500;
  padding: 0 10px;
}

.forecast-min-temp {
  color: #044377a4;
}
