body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #edf2f8;
}

.container {
  max-width: 550px;
  width: 100%;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  display: block;
  background-color: #fff;
  box-shadow: 0px 30px 50px rgba(82, 124, 158, 0.3);
}

header {
  text-align: center;
  padding-bottom: 0px;
  border-bottom: 1px solid rgba(221, 234, 245, 0.5);
}

.search-input {
  padding: 10px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin: 10px;
  width: 70%;
  border: none;
  background-color: #ebf2f8;
  border-radius: 10px;
}

.search-button {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background-color: #80bff1;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  width: 20%;
  transition: all 180ms ease-in-out;
}

.search-button:hover {
  background-color: #4997d6;
  cursor: pointer;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #4b4b4b;
}

.current-temp-value {
  font-size: 40px;
  font-weight: bold;
  color: #4b4b4b;
  margin: 0;
}

.current-temp-unit {
  font-size: 20px;
  position: relative;
  top: -15px;
}

.current-temp-icon {
  font-size: 60px;
  position: relative;
  top: 10px;
  right: -40px;
}

.current-weather-details {
  font-size: 16px;
  color: #0443779f;
  line-height: 1.6;
  position: relative;
  top: 60px;
  right: 35px;
}

.highlights {
  font-weight: bold;
  color: #044377;
}

footer {
  font-size: 13px;
  color: #4b4b4b;
  text-align: center;
  border-top: 1px solid rgba(221, 234, 245, 0.5);
}

.links {
  color: #3b85c2;
  text-decoration: none;
}
